# Caddyfile para el frontend-ecommerce

# El servidor escuchará en el puerto 80 (puerto HTTP estándar)
:80

# Define la carpeta raíz desde donde se servirán los archivos
root * /usr/share/caddy

# Habilita el servidor de archivos estáticos
file_server

# Redirecciona cualquier petición no encontrada a index.html
# para que el enrutador de Next.js funcione correctamente (SPA behavior)
try_files {path} /index.html