# Caddyfile para el contenedor del Dashboard de Angular

:80 {
    # Establece la carpeta raíz donde están los archivos compilados
    root * /usr/share/caddy

    # Habilita la compresión para que el sitio cargue más rápido
    encode gzip

    # Redirige todas las peticiones a archivos que no existen al index.html
    # Esto es el "corazón" de la configuración para una SPA.
    try_files {path} /index.html
    
    # Sirve los archivos estáticos desde la raíz definida.
    file_server
}
