# Caddyfile para el contenedor del Dashboard de Angular (/frontend-dashboard/Caddyfile)

:80 {
    # Establece la carpeta raíz donde están los archivos compilados
    root * /usr/share/caddy

    # Habilita la compresión para que el sitio cargue más rápido
    encode gzip

    # Redirige todas las peticiones a archivos que no existen al index.html
    # Esto es el "corazón" de la configuración para una SPA.
    # Caddy intentará buscar el archivo estático solicitado (ej: /main.js),
    # si no lo encuentra, en lugar de dar un 404, devuelve el contenido de /index.html
    # para que el enrutador de Angular se haga cargo de la ruta.
    try_files {path} /index.html
    
    # Sirve los archivos estáticos desde la raíz definida.
    file_server
}
